{% extends 'base.html' %}  
{% block content %}
  <div class="center all_flex">
    <div class="centered_content">
      <div>
        <h2 class="light">Are you sure you want the <span class="purple_text">{{ game_jam.name }}</span> game jam to be deleted?</h2>
        <form class="all_flex" action="" method="post">
          {% csrf_token %}
          <div class="purple_tag min_width margin_right">
            <a class="white_text main_text bigger_text" id="padding_top_bottom" href="{% url 'game-jam-details' game_jam.id %}">Cancel</a>
          </div>
          <button type="submit" class="call_to_action margin_left">Yes! Delete</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
