{% extends 'base.html' %} 
{% load static %}

{% block content %}
  <div class="pure_flex">
    <div class="margin_top margin_left all_flex" id="game_jams_image">
        {% if game_jam.images %}
          <img class="img" src="{{game_jam.images.url}}" alt="image provided by user"/>
        {% else %}
          <img class="img" src="{% static 'images/place_holder.jpg' %}" alt="image provided by user"/>
        {% endif %}
    </div>
    <div id="take_all_space">
      <div class"flex_space_in_between" style="display:flex; justify-content:space-between;">
        <h2 class="inline light no_margin margin_top">{{game_jam.name}}</h2>
        <h2 class="inline light no_margin margin_top"> {{game_jam.start_date}} - {{game_jam.end_date}} </h2>
      </div>
      <p>@{{game_jam.user}}</p>
      <div class="flex_space_in_between">
        <div class="flex">
          <div class="green_tag">
            {% if monetization %}
              <p class="main_text">Monetized</p>
            {% else %}
              <p class="main_text">Non profit</p>
            {% endif %}
          </div>
          <div class="green_tag">
            <p class="main_text">{{game_jam.get_status_display}}</p>
          </div>
        </div>
        <a class="call_to_action" href="{% url 'dev-logs' game_jam.id%}">dev logs<img id='arrow' src="{% static 'images/arrow.svg' %}" alt="arrow" /></a>
      </div>

      <p class="main_text margin_top_small">communication via: <span class="purple_text">{{game_jam.hosting}}</span></p>
      <p class="main_text margin_top_small">Application submission until: <span class="purple_text">{{game_jam.application_duration}}</span></p>
      
      <p class="margin_top_small margin_bottom_small">{{game_jam.description}}</p>
      <div class="flex">
        <div class="purple_tag">
          <p class="main_text">{{game_jam.get_Game_genre_display}}</p>
        </div>
      </div>
      <h3 class="light no_margin margin_top">Technology And Specifications:</h3>
      <p>{{game_jam.technology}}</p>
      <h3 class="light no_margin margin_top">Roles</h3>
      {% comment %} ref: https://stackoverflow.com/questions/69059272/only-show-edit-button-on-owners-posts-django {% endcomment %}
        {%if game_jam.user == request_user%}
          {% for role in game_jam.role_set.all %}
            <div class="flex_space_in_between margin_bottom_small">
              <p>{{role.name}}</p>
                {%if role.open %}
                  <div class="call_to_action">
                    <a class="purple_text" href={% url 'close-role' role.id%}>close</a>
                  </div>
                {% else %}
                  <div class="purple_tag">
                    <a class="white_text main_text bigger_text" href={% url 'open-role' role.id%}>closed, reopen?</a>
                  </div>
                {% endif %}
            </div>
          {% endfor %}
        {%else%}
          {% for role in game_jam.role_set.all %}
            <div class="flex_space_in_between margin_bottom_small">
              <p>{{role.name}}</p>
                {%if role.open%}
                  {%if role.id not in applied_roles%}
                    <div class="call_to_action">
                      <a class="purple_text main_text" href="{% url 'apply' role.id%}">Apply</a>
                    </div>
                  {% else %}
                    <div class="purple_tag bigger_text">
                      <p class="white_text main_text"> you've applied </p>
                    </div>
                  {%endif%}
                {% else %}
                  <div class="purple_tag bigger_text">
                    <a class="white_text main_text">closed </a>
                  </div>
                {% endif %}
            </div>
          {% endfor %}
        {% endif %}
        {%if game_jam.user == request_user%}
          <div class="flex_space_in_between">
            <div id="place_holder"></div>
            <div class="call_to_action">
              <a class="purple_text" href="{% url 'all-roles' game_jam.id %}">add a role</a>
            </div>
          </div>
        {%endif%}
  
        <h3 class="light no_margin margin_top">Participants</h3>
        {% for participant in participants %}
          {%if participant.status == 'a' %}
            <div class="flex_space_in_between">
              <p>@{{participant.user}}</p>
              <div class="purple_tag">
                <p class="main_text min_width">{{participant.role}}</p>
              </div>
            </div>
          {%endif%}
        {%endfor%}
    </div>
  </div>
  <div class="flex_space_in_between margin_top">
    <div id="place_holder"></div>
    <div class="margin_left">
      {%if game_jam.user == request_user%}
        <div class="flex margin_top_small">
          <div class="call_to_action margin_right">
            <a class="purple_text" href="{% url 'game-jam-update' game_jam.id %}">Edit</a>
          </div>
          <div class="call_to_action">
            <a class="purple_text" href="{% url 'game-jam-delete' game_jam.id %}">Delete</a>
          </div>
        </div>
      {%endif%}
    </div>
  </div>
{% endblock %}