{% extends 'base.html' %} 
{% block content %}
  <div class="middle">
    <div>
      <h2>Sign Up</h2>
      {% if error_message %}
        <p>{{ error_message }}</p>
      {% endif %}

      <form action="" method="post" autocomplete="off">
        {% csrf_token %}
          {{ form.as_p }}
        <div class="flex_space_in_between">
          <p class="inline">already have an account?<a class="sub_text margin_left" id="sign_up" href="{% url 'home' %}">sign in</a></p>
          <button type="submit" class="call_to_action">Sign up!</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
