{% extends 'base.html' %} 
{% block content %}
  <h1>{{thread.title}}</h1>
  <h3>
    {% if thread.open %}
      open
      <a href="{% url 'close-thread' thread.id %}">close</a>
    {% else %}
      closed
    {% endif %}
  </h3>
  <p>@{{thread.user}}</p>
  <p>{{thread.date}}</p>
  <p>{{thread.description}}</p>

  {% comment %} images {% endcomment %}

  {% for comment in comments%}
    {% if comment.solution == True %}
      <p>this solution solved the issue</p>
      <p>@{{comment.user}}</p>
      <p>{{comment.description}}</p>
    {% endif %}
  {%endfor%}

  {% for comment in comments%}
    {% if comment.solution == False %}
      <p>@{{comment.user}}</p>
      <p>{{comment.description}}</p>
      {%if thread.user == request_user and thread.open == True%}
        <a href="{% url 'solution' comment.id%}">pick solution</a>
      {%endif%}
    {% endif %}
  {%endfor%}

  <form action="{% url 'add-comment' thread.id %}" enctype="multipart/form-data" method="post" autocomplete="off">
    {% csrf_token %} 
    {{ add_comment.as_p }}
    <button type="submit">Comment</button>
  </form>

  <a href="{% url 'threads' %}">all threads</a>
  {%if thread.user == request_user%}
    <a href="{% url 'thread-update' thread.id %}">Edit</a>
    <br>
    <br>
    <a href="{% url 'thread-delete' thread.id %}">Delete</a>
  {%endif%}
{% endblock %}