@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

*{
  box-sizing: border-box;
}

/* colors */
:root{
  --Main: #6E3293;
  --Dark: #1A1A1B;
  --Light: #F3E9F6;
  --Accent: #68D15E;
  --gray: #9F98A4;
}

/* fonts */
.main_text, h2, h3{
  font-family: "Kelly Slab", serif;
  font-style: normal;
}

.sub_text, p{
  font-family: "Lekton", serif;
  font-style: bold;
}

.white_text{
  color: var(--Light);
}

/* classes for base.html */
.nav_bar_element{
  font-weight: 400;
  color: white;
  font-size: 18px;
  margin: 8px 15px 0;
  padding: 12px 5px 13px;
}

.nav_bar_element:hover{
  border-bottom: 3px solid var(--Accent);
}

.page{
  min-height: 100vh;
  position: relative;
}

.container{
  padding: 0 15px;
}

.divider{
  height: 200px;
}

.footer{
  width: 100%;
  padding: 20px 15px;
  background: linear-gradient(90deg, #834ea4 0%, var(--Main) 100%);
  position: absolute;
  bottom: 0;
  margin-top: 50px;
}

/* ids for base.html */
#logo{
  height: 55px;
  width: auto;
}