#sign_up{
  font-weight: 800;
}

#sign_up:hover{
  color: var(--Main);
}

#game_jams_image{
  width: 235px;
  height: 300px;
  background: var(--Dark);
  margin-right: 20px;
}

#game_jam_details{
  width: 60%;
  height: 100%;
  position: relative;
  color: var(--Dark);
}

#game_jam_details h2{
  margin-bottom: 5px;
}

#take_all_space{
  flex-grow: 1;
}

#arrow{
  width: 20px;
  margin-left: 10px;
}

#status{
  position: absolute;
  bottom: 0;
  right: 10px;
}

#place_holder{
  width: 10px;
  height: 10px;
}

#id_monetization{
  border: 3px solid var(--Main);
}

#padding_top_bottom{
  border: 3 solid var(--Main);
}

#inbox{
  min-width: 50vw;
}

#dev_log_container{
  background: var(--Light);
  width: 210px;
  height: 300px;
  padding: 15px;
  margin: 0 30px  25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
  position: relative;
}

#thread_container{
  background: var(--Light);
  padding: 15px;
}