/* flex */
.flex, .flex_space_around, .flex_space_in_between{
  display: flex;
  align-items: center;
}

.inline{
  display: inline;
}

.flex_space_in_between{
  justify-content: space-between;
}

.flex_space_around{
  justify-content: space-around;
}

/* containers */
.middle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* margins */
.margin_on_sides{
  margin-left: 10px;
  margin-right: 10px;
}

.margin_right{
  margin-right: 10px;
}

.margin_left{
  margin-left: 10px;
}

/* sizes */
.icon{
  width: 24px;
  height: auto;
}

/* buttons */
.call_to_action{
  padding: 7px;
  min-width: 100px;
  background: none;
  border: 2px solid var(--Main);
  font-family: "Kelly Slab", serif;
  font-style: normal;
  color: var(--Main);
  font-size: 1.15em;
}

.call_to_action:hover{
  background: var(--Main);
  color: var(--Light);
}