/* flex */
.flex, .flex_space_around, .flex_space_in_between, .all_flex, .flex_column, .flex_wrap{
  display: flex;
  align-items: center;
}

.pure_flex{
  display: flex;
}

.all_flex{
  justify-content: center;
}

.inline{
  display: inline;
}

.flex_space_in_between{
  justify-content: space-between;
}

.flex_space_around{
  justify-content: space-around;
}

.flex_column{
  flex-direction: column;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */
.flex_wrap{
  flex-wrap: wrap;
}

/* grid */
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* containers */
.middle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center{
  min-height: 80vh;
}

.center_smaller{
  min-height: 60vh;
}

.image{
  width: 100%;
  height: 300px;
  background-color: var(--Dark);
}

.purple_tag{
  background-color: var(--Main);
  color: white;
  padding: 8px;
}

.green_tag, .green_tag_no_margin{
  background: var(--Accent);
  padding: 8px;
  color: var(--Main);
}

.green_tag{
  margin-right: 10px;
}

/* positions */
.no_margin{
  margin: 0;
}

.margin_on_sides{
  margin-left: 10px;
  margin-right: 10px;
}

.margin_right{
  margin-right: 10px;
}

.margin_left{
  margin-left: 10px;
}

.margin_bottom{
  margin-bottom: 25px;
}

.margin_bottom_small{
  margin-bottom: 10px;
}

.margin_top{
  margin-top: 20px;
}

.margin_top_small{
  margin-top: 10px;
}

.left{
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.relative{
  position: relative;
}

/* sizes */
.icon{
  width: 24px;
  height: auto;
}

.min_width{
  min-width: 100px;
  text-align: center;
}

/* buttons */
.call_to_action{
  padding: 7px;
  min-width: 100px;
  background: none;
  border: 2px solid var(--Main);
  font-family: "Kelly Slab", serif;
  font-style: normal;
  color: var(--Main);
  font-size: 1.15em;
  text-align: center;
}

.call_to_action:hover{
  background: var(--Main);
  color: var(--Light);
}

.call_to_action:hover a{
  color: var(--Light);
}

.icon_button{
  background: none;
  border: none;
}